@import url('http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic');
* {
  font-size: 14px;
  font-family: 'Cuprum', sans-serif;
}
:focus{
  outline: none;
}
h1 {
  font-size: 48px;
  color: #333;
}

h2 {
  font-size: 24px;
  color: #666;
  text-transform: uppercase;
}

header {
  width: 100%;
  height: 100px;
  background: url(../images/header_bg.png) center no-repeat;
  background-size: 100% 100%;
}

header .btn-default{
  padding: 10px 37px;
}
.logo {
  width: 120px;
  height: 68px;
  margin-top: 11px;
  padding: 0;
  display: block;
  background: url(../images/logo.png) left center no-repeat;
  float: left;
}

.header-login-form {
  margin-top: 37px;
  text-align: right;
}

.block1 {
  margin-top: 53px;
  padding: 0;
}

.block1 h1{
  margin: 0;
}
.search-results__item__title h1{
  margin-left: -15px;
}
.block1 img {
  padding: 0;
  padding-right: 4px;
}

.slogan {
  margin-top: 19px;
}
.slogan .text1 {
  position: relative;
  top: 1px;
  left: 1px;
  margin-right: 14px;
}
.slogan .text2 {
  position: relative;
  top: -1px;
  left: 1px;
}

.block2 {
  margin-top: 57px;
  padding: 0;
}
.block2:before{
  content: '';
  clear: both;
  display: table;
}
.block2:after{
  content: '';
  clear: both;
  display: table;
}
h2.search-f-title{
  margin-top: 40px;
  margin-bottom: 35px;
}
.block2__item {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  position: relative;
}
.block2__item:nth-child(2):before{
  content: '';
  border-left: 1px solid #e9e9e9;
  position: absolute;
  top: 2px;
  left: -12px;
  height: 88%;
}
.block2__item:nth-child(2):after{
  content: '';
  border-right: 1px solid #e9e9e9;
  position: absolute;
  top: 2px;
  right: 5px;
  height: 88%;
}
.block2__item:first-child,
.block2__item:last-child {
  border: 0;
}
.block2__item__logo, .block2__item__text, .block2__item__btn {
  float: none;
  vertical-align: middle;
  padding: 0;
}
.block2__item__logo {
  padding-right: 0;
  position: relative;
  top: -2px;
  left: 0px;
}
.block2__item__logo img{
  max-height: 55px;
  max-width: 70px;
}
.block2__item__text {
  font-size: 18px;
  color: #666;
  line-height: 18px;
  margin-left: 5px;
}
.block2__item__btn {
  text-transform: uppercase;
  left: 0px;
}
.block2__item:nth-child(2) .block2__item__logo{
  top: -8px;
  left: 9px;
}
.block2__item:nth-child(2) .block2__item__text{
  margin: -17px 0 0 14px;
}
.block2__item:nth-child(3) .block2__item__logo{
  top: -2px;
  left: 15px;
}
.block2__item:nth-child(3) .block2__item__text{
  margin-left: 18px;
}
.block2__item:nth-child(3) .block2__item__btn{
  top: 4px;
}
.btn-primary__mod1{
  margin-top: 0px;
}
.search-form {
  margin-top: 12px;
  padding-bottom: 43px;
  background: #f6f6f6;
}
.search-form:before,
.search-results__item:before{
  content: '';
  clear: both;
  display: table;
}
.search-form:after,
.search-results__item:after{
  content: '';
  clear: both;
  display: table;
}
.search-filter {
  float: none;
  text-align: center;
}
.search-filter .btn1{
  margin-top: 25px;
  width: 31%;
}
.jq-selectbox{
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 18px;
  line-height: 60px;
  font-size: 18px;
  color: #999999;
  text-align: left;
  border: 1px solid #fff;
}
.jq-selectbox:hover{
  border: 1px solid #f77101;
}
.jq-selectbox__select{
  padding: 0 60px 0 15px;
  font-size: 18px;
}
.jq-selectbox__select-text{
  font-size: 18px;
}
.jq-selectbox__trigger-arrow{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: url(../images/sprites.png) left top no-repeat;
}
.jq-selectbox__dropdown {
  background: #fff;
  width: 100%;
  border: 1px solid #f77101;
}
.jq-selectbox__dropdown ul{
  padding: 0px;
  margin: 0px;
}
.jq-selectbox__dropdown ul li{
  color: #000;
  padding: 5px 15px;
  line-height: 16px;
}
.jq-selectbox__dropdown ul li.selected{
  background: #f77101;
  color:#fff;
}
.jq-selectbox__dropdown ul li:hover{
  background: #E4E4E4;
}
.volume .jq-selectbox__trigger-arrow{
  background: none;
  line-height: 30px;
}
.volume .jq-selectbox__trigger-arrow:before{
  content: 'cbm';
}
.search-results {
  margin-top: 27px;
}
.search-results__item__title,
.search-results__item__details{
  vertical-align: top;
}
.search-results__item__details{
  text-align: right;
  padding: 32px 3px 0 0;
}


.search-results__best-deal {
  margin-top: -14px;
}
.search-results__best-deal__item {
  border-top: 1px solid #f6f6f6;
  padding: 20px 0 8px;
}
.search-results__best-deal__item:last-child {
  border-bottom: 1px solid #f6f6f6;
}

.search-results__best-deal__item__text:nth-child(1) {
  font-size: 30px;
  padding-left: 20px;
}
.search-results__best-deal__item__text:nth-child(2) {
  font-size: 24px;
  color: #666;
  text-align: right;
  padding-right: 6px;
  position: relative;
  top: 4px;
}
.search-results__best-deal__item__text:nth-child(3) {
  position: relative;
  padding-right: 0px;
}
.search-results__best-deal__item__text__mod1 {
  color: #666;
  font-size: 18px !important;
}
.search-results__best-deal-mini{
  margin-bottom: 60px;
}
.search-results__best-deal-mini .search-results__best-deal__item{
  padding: 15px 0;
}
.search-results__best-deal-mini .search-results__best-deal__item__text:nth-child(1){
  top: 7px;
}
.search-results__best-deal-mini .search-results__best-deal__item__text:nth-child(2){
  top: 7px;
}
h2.search-title{
  margin-top: 37px;
  margin-bottom: 35px;
}
.res-search{
  margin-bottom: 13px;
}
h2.otheroffers{
  margin-top: 60px;
  margin-bottom: 32px;
}
.hot-offers {
  padding: 0;
  padding-top: 10px;
}
.hot-offers:before,
.hot-offers__item:before,
.search-results__best-deal__item:before{
  content: '';
  clear: both;
  display: table;
}
.hot-offers:after,
.hot-offers__item:after,
.search-results__best-deal__item:after{
  content: '';
  clear: both;
  display: table;
}
.hot-offers__item {
  height: 70px;
  border-top: 1px solid #f6f6f6;
  text-align: left;
  padding: 11px 0 0 0;
}
.hot-offers__item:last-child {
  border-bottom: 1px solid #f6f6f6;
}
.hot-offers__item__text {
  font-size: 18px;
  color: #666;
  line-height: 60px;
  padding-left: 23px;
}

.hot-offers__item__text:nth-child(1):after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 21px;
  right: 0;
  width: 11px;
  height: 12px;
  background: url(../images/sprites.png);
  background-position: -32px 0px;
}
.hot-offers__item__text:nth-child(2){
  padding-left: 5px;
}
.hot-offers__item__text:nth-child(3){
  padding-left: 11px;
}
.hot-offers__item__text a {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  float: none;
  width: 100%;
  display: block;
  margin: 12px 0 0 5px;
}

.small-statics {
  text-align: center;
  padding: 14px 0 0 0;
}
.small-statics:before,
.small-statics:after{
  content: '';
  display: table;
  clear: both;
}

.small-statics__item {
  position: relative;
  text-align: left;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 5px;
}
.small-statics__item:nth-child(2){
  padding-left:0px;
  padding-right: 14px;
}
.small-statics__item:last-child{
  padding-right:0px;
  padding-left: 13px;
}
.small-statics__item__title {
  position: absolute;
  top: 23px;
  left: 30px;
}
.small-statics__item__details {
  position: relative;
  top: 60%;
  left: 19px;
}
.small-statics__item__details span.text4, .small-statics__item__details span.small-statics__item__title {
  position: absolute;
  top: 10px;
  left: 60px;
}
.small-statics__inner {
  height: 235px;
}
.small-statics__inner__mod1 {
  background: #fb6709 url(../images/ss1.png) top right no-repeat;
}
.small-statics__inner__mod2 {
  background: #f8c100 url(../images/ss2.png) right -8px no-repeat;
}
.small-statics__inner__mod3 {
  background: #745cb3 url(../images/ss2.png) right -8px no-repeat;
}
.small-statics__inner__mod4 {
  background: #8bc734 url(../images/ss2.png) right -8px no-repeat;
}

footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #f6f6f6;
  margin-top: 50px;
  text-align: center;
}

.footer-nav {
  padding: 0px;
  margin: 0px;
}
.footer-nav li{
  display: inline-block;
  list-style: none;
}

.copyrights {
  float: none;
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-top: 27px;
}

.inline, .block2__item__logo, .block2__item__text, .block2__item__btn, .close_ico {
  display: inline-block;
}

.center, .search-form,
.hot-offers {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.p0, .search-filter {
  padding: 0;
}
.mtb30, h2 {
  margin-top: 30px;
  margin-bottom: 28px;
}

.text1 {
  font-size: 24px;
  color: #ff7011;
}

.text2 {
  font-size: 14px;
  color: #1cacf0;
}

.text3 {
  font-size: 56px;
  color: #fff;
}

.text4, .small-statics__item__title {
  font-size: 18px;
  color: #fff;
}
.text4__mod1:hover {
  text-decoration: none;
  color: #fff;
}

.btn-default__mod1 {
  border: 0;
  padding: 10px 0px !important;
  margin-left: 26px;
}
.btn-default__mod1:hover {
  text-decoration: underline;
  background: none;
  color: #fff;
}
.btn-default__mod1:focus {
  background: none !important;
  color: #fff;
  box-shadow: none;
}
.btn-default__mod1:active {
  background: none !important;
  color: #fff;
}

.btn-default__mod2,
.btn-default__mod3 {
  color: #ff701f;
  padding: 10px 35px;
  margin: 0 15px;
}

.btn-default__mod2 {
  border-color: #ff7011;
}

.btn-default__mod3 {
  border: 0;
}
.btn-default__mod3:hover {
  background: none;
  text-decoration: underline;
}

.btn1 {
  background-color: #f77101;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #f77101;
  border-radius: 3px;
  padding: 16px 10px;
  margin-top: 20px;
  float: none;
}
.btn1:hover{
  background-color: #DF6601;
  border-color: #DF6601;
  text-decoration: none;
  color: #fff;
}
.btn1:active,
.btn1:focus{
  background-color: #C35900;
  border-color: #C35900;
  text-decoration: none;
  color: #fff;
}
.btn1__mod1 {
  padding: 8px 16px 8px 12px;
  top: -1px;
  position: relative;
}
.btn1__mod1:hover {
  text-decoration: none;
  color: #fff;
}
.btn1__mod1:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  margin-top: -7px;
  background-image: url(../images/sprites.png);
  background-position: -3px -26px;
}



.btn-volume {
  background-color: #f6f6f6;
  font-size: 18px;
  padding: 10px 28px 10px 13px;
  position: relative;
}
.btn-volume:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 18px;
  background-image: url(../images/sprites.png);
  background-position: -67px -4px;
  margin-right: 49px;
  top: -2px;
  position: relative;
}



.close_ico {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff url(../images/sprites.png);
  background-position: -45px 2px;
  cursor: pointer;
  position: relative;
  top: -2px;
  margin: 0 0 0 10px;
}


.btn3 {
  background: #10a8ef;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 3px;
  text-decoration: none;
}
.btn3:hover{
  background: #0C94D3;
  color: #fff;
  text-decoration: none;
}
.btn3:active,
.btn3:focus{
  background: #0A80B6;
  color: #fff;
  text-decoration: none;
}


.search-filter input,
.search-filter textarea{
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
  padding: 0 20px;
  line-height: 66px;
  font-size: 18px;
  color: #999999;
  text-align: left;
  border: 1px solid #fff;
}
.search-filter textarea{
  resize: none;
  height: 100px;
  padding: 25px 20px;
  line-height: 20px;
}
.search-filter input:hover,
.search-filter input:focus,
.search-filter textarea:hover,
.search-filter textarea:focus{
  border: 1px solid #f77101;
}

.text{
  font-size: 18px;
  color: #333;
  margin: 33px 170px 0 10px;
  line-height: 24px;
}
.text a{
  display: block;
  color: #f77101;
  text-decoration: none;
  margin: 22px 0 0 0px;
  font-size: 18px;
  line-height: 29px;
}
.text a:hover{
  text-decoration: underline;
}
.img{
  position: absolute;
  top: 117px;
  right: 0px;
  border: 1px solid #f7f7f7;
}
.contacts h2{
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 32px;
}
.contacts-info .item{
  margin: 0 0 10px;
  font-size: 18px;
  color: #333333;
  padding: 0 0 0 85px;
}
.contacts-info span{
  font-size: 18px;
  display: block;
  color:#999999;
}
.contacts-info a{
  display: block;
  color: #f77101;
  text-decoration: none;
  font-size: 18px;
}
.contacts-info a:hover{
  text-decoration: underline;
}
.contacts-info .phone{
  background: url(../images/phone.png) 25px 95% no-repeat;
}
.contact:before,
.contacts:after{
  content: '';
  display: table;
  clear: both;
}
.p50{
  padding: 10px 70px 45px;
}
.send-request{
  margin-top: 43px;
  margin-bottom: 11px;
}
.send-request .search-filter{
  padding: 3px 0 0;
}
.send-request .search-filter .btn1{
    width: 37%;
    margin-top: 22px;
}
h2.contacts{
  padding-right: 59px;
}
h2.about{
  padding-right: 30px;
}
.destination{
  background: url(../images/destination.png) 10px center no-repeat;
  padding: 0 0 0 69px;
  font-size: 18px;
  color:#999;
}
.req-volume{
  background: url(../images/volume.png) left center no-repeat;
  padding: 0 0 0 60px;
  font-size: 18px;
  color:#999;
}
.search-results__request{
  font-size: 18px;
  color: #666;
}
.search-results__request span{
  margin:0 16px 0 7px;
  background: url(../images/sprites.png) -33px -3px no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.search-results__request:nth-child(1){
  width: 20.5%;
}
.search-results__request:nth-child(2){
  width: 31.5%;
}
.search-results__request:nth-child(3){
  width: 16.4%;
}
.marginb{
  margin-bottom:56px;
  margin-left: -15px;
}
.request-det{
  margin-bottom: 33px;
}
.thank-send{padding: 0 0 50px;}
.thank-send .btn1{display: inline-block;}
.thank-send .big-text{
  font-size: 24px;
  color: #666;
  line-height: 30px;
}
.thank-send .big-text span{
  display: block;
  height: 18px;
}
.thank-send .thank{
  background: url(../images/thank.png) top center no-repeat;
  padding-top: 55px;
  margin-top: -47px;
}
.thank-send .btn1__mod2{
  padding: 6px 18px;
  margin: 39px 0 0 0;
}
.btn1__mod2{
  padding: 8px 18px;
}

.search-results__request__item{
  border-top: 1px solid #f6f6f6;
  padding: 25px 0;
  margin-bottom: 15px;
}
.search-results__request__item:last-child{
  border-bottom: 1px solid #f6f6f6;
}

.search-results__request__item:after,
.search-results__request__item:before{
  content: '';
  clear: both;
  display: table;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .item-down {
      position: relative;
    top: 12px ;
    left: 0px ;
  }
  .search-results__item__title {
    padding-left: 0;
  }

    .hot-offers__item {
      padding-bottom: 20px;
    }

    .header-login-form {
      margin-right: 0 ;
    }
  
  .search-results__item__details {
    margin-top: 30px;
    padding: 0;
    float: right;
    text-align: right;
    position: relative;
    right: 4px;
  }

    .bestdeal {
          margin-top: 28px;
          margin-left: -6px;
    }
    .search-results__best-deal__item__text:nth-child(1) {
          position: relative;
          top: 3px;
    }
    .otheroffers {
        margin-top: 48px;
          margin-left: -6px;
    }
    .cena-down {
        top: 12px;
    }
    .footer-menu {
        margin-top: 10px;
    }
}






@media (min-width: 768px) and (max-width: 991px) {
  .search-results__best-deal__item__text {
    padding: 0;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  .search-results__item__details {
    margin-top: 36px;
    padding: 0;
    float: right;
    text-align: right;
  }
  .search-results__item__title {
    padding-left: 0;
  }
  .hot-offers{
    padding: 0 15px;
  }
  .hot-offers__item {
    padding-bottom: 5px;
    height: auto;
  }
  .hot-offers__item__text {
    line-height: 40px;
  }
  .hot-offers__item__text .btn-primary{
    margin-top: 3px;
  }
  .btn-default__mod2,
  .btn-default__mod3 {
    margin: 0 15px;
  }

  .block2 {
    text-align: center;
  }
  .block2__item {
    display: inline-block;
    float: none;
    border: 0px;
  }
  .block2__item__logo, .block2__item__text {
    text-align: left;
  }

  .small-statics__item {
    display: inline-block;
    float: none;
    margin-bottom: 20px;
  }
  .small-statics__inner {
    height: 170px;
  }
  .btn3 {
    background: #10a8ef;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 45px;
    border-radius: 3px;
  }
  
  .hot-offers__item__text:nth-child(1):after{
    top: 11px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  
  header{
    height: 75px;
  }
  header,
  .block1,
  .block2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hot-offers__item {
    padding-bottom: 20px;
    height: auto;
  }
  .hot-offers__item__text {
    line-height: 40px;
  }
  
  .slogan > span {
    display: block;
  }

  .block2__item {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-left: 0;
    border-right: 0;
  }
  .btn-default__mod2,
  .btn-default__mod3 {
    margin: 0 10px;
    padding: 10px 10px;
  }
  .search-filter{
    padding: 0 20px;
  }
  .small-statics__item {
    display: inline-block;
    float: none;
    margin-bottom: 20px;
  }
  .select{
    margin-left: 0px;
  }
  .jq-selectbox{
    margin-bottom: 17px;
  }
  .jq-selectbox__trigger-arrow{
    top: 17px;
  }
  .hot-offers{
    padding: 15px 15px 0;
  }
  .hot-offers .btn{
    margin-top: 0px;
  }
  h1{
    margin: 0 0 10px;
    font-size: 40px;
    text-align: center;
  }
  .search-results__item__details {
    text-align: center;
    padding: 15px 0 20px 0;
  }
  .search-results__best-deal__item__text:nth-child(3){
    padding-right: 15px;
  }
  .search-results__request{
    text-align: center;
  }
  .destination,
  .req-volume{
    display: inline-block;
  }
  .marginb div:nth-child(2){display: none;}
  .contacts{padding: 0 15px;}
  .header-login-form{
    margin-top: 30px;
  }
  header .btn-default{
    padding: 7px 27px;
    margin-left: 30px;
    font-size: 11px;
  }
  .block1{
    margin-top: 39px;
  }
  .slogan {
    margin-top: 15px;
  }
  .slogan .text1{
    margin-right:0px;
    margin-bottom: 8px;
  }
  .block2{
    margin-top: 52px;
  }
  .block2__item__text,
  .block2__item:nth-child(2) .block2__item__text,
  .block2__item:nth-child(3) .block2__item__text{
    margin-left: 0px;
  }
  .logo{
    width: 96px;
    background-size: 100%;
    margin-top: 0px;
  }
  .block2__item__btn{
    left: 39px;
  }
  .block2__item:nth-child(2){
    padding-bottom: 3px;
  }
  .search-form{
    margin-top: 8px;
    padding-top: 10px;
  }
  .hot-offers__item{
    padding: 20px 0 0 0;
  }
  .hot-offers__item__text:nth-child(1):after{
    right: -8px;
    top: 11px;
  }
  .hot-offers__item__text{
    padding-left: 0px;
  }
  .hot-offers__item__text:nth-child(2) {
    padding: 0 0 0 15px;
  }
  .hot-offers__item__text:nth-child(3) {
    padding-left: 25px;
  }

  .thank-send .thank{
    margin-top: 25px;
  }
  .search-results__request:nth-child(1),
  .search-results__request:nth-child(2),
  .search-results__request:nth-child(3),
  .search-results__request:nth-child(4){
    width: 100%;
  }
  .search-results__request:nth-child(1){
    margin-bottom: 15px;
  }
  .search-results__request:nth-child(2){
    margin: 0 0 25px 0px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
  }
  .search-results__request:nth-child(3){
    margin-bottom:18px;
  }
  .req-volume{
    padding: 0 0 0 70px;
    background-position: 10px center;
  }
  .search-results__request span{
    margin: 0 3px 0 5px;
  }
  .search-results__request__item{
    margin-top: 30px;
    margin-bottom: 33px;
  }
}

@media (max-width: 479px) {
  .footer-nav li{
    display: block;
  }
  .hot-offers__item__text{
    width: 50%;
    text-align: center;
  }
  .hot-offers__item__text:nth-child(3){
    width: 100%;
    text-align: center;
  }
  .hot-offers__item__text:nth-child(4){
    width: 100%;
    text-align: center;
    padding-left: 15px;
  }
  .hot-offers__item__text a{
    width: 150px;
    margin: 13px auto 20px;
  }
  .small-statics{
    padding: 19px 15px 0;
  }
  .small-statics__item{
    width: 48%;
    padding: 0px;
  }
  .small-statics__item:nth-child(2) {
    padding-left: 0px;
    padding-right: 8px;
  }
  .small-statics__item:nth-child(3){
    padding-left:8px;
  }
  .small-statics__item:nth-child(4){
    padding-right:8px;
  }
  .small-statics__item:nth-child(5){
    padding-left:8px;
  }
  .small-statics__inner{
    height: 170px;
  }
  .small-statics__item__details{
    width: 80%;
  }
  .search-results__best-deal__item__text{
    width: 100%;
  }
  .small-statics__inner__mod1,
  .small-statics__inner__mod2,
  .small-statics__inner__mod3,
  .small-statics__inner__mod4{
    background-size: 50px;
  }
  .small-statics__item__title {
    position: absolute;
    top: 11px;
    left: 15px;
    width: 80px;
  }
  h2.otheroffers{
    margin-top: 52px;
  }
  .btn-volume{
    padding: 10px;
  }
  .btn-volume:before{
    margin-right: 30px;
  }
  h1{
    margin: 0 0 10px;
    font-size: 47px;
    text-align: center;
  }
  .search-results__item__details {
    text-align: center;
    padding: 15px 0 20px 0;
  }
  .p50{
    padding: 0 0 40px;
  }
  .img{
    float: none;
    display: block;
    width: 150px;
    height: 150px;
    margin: 48px auto 53px;
    position: static;
  }
  .text{
    margin: 5px 0px 5px 5px;
  }
  footer{
    margin-top: 5px;
  }
  .btn-default__mod2, .btn-default__mod3{
    margin: 0px 10px 22px;
    padding: 8px 35px;
  }
  .btn-default__mod3{
    margin-bottom: 5px;
  }
  .copyrights{
    margin-top: 12px;
  }
  .hot-offers .btn {
    margin-top: 13px;
  }
  .marginb{
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .search-results{
    margin-top: 42px;
  }
  .request-det{
    display: none;
  }
  .search-results__request:nth-child(1),
  .search-results__request:nth-child(2),
  .search-results__request:nth-child(3),
  .search-results__request:nth-child(4){
    width: 100%;
  }
  .search-results__request:nth-child(1){
    margin-bottom: 15px;
  }
  .search-results__request:nth-child(2){
    margin: 0 0 25px 0px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 20px;
  }
  .search-results__request:nth-child(3){
    margin-bottom:18px;
  }
  .req-volume{
    padding: 0 0 0 70px;
    background-position: 10px center;
  }
  .search-results__request span{
    margin: 0 3px 0 5px;
  }
  .search-results__request__item{
    margin-top: 30px;
    margin-bottom: 33px;
  }
  h2.contacts{
    padding-right: 15px;
  }
  h2.about{
    margin-top: 40px;
    padding-right: 0px;
    margin-bottom: 33px;
  }
  .contacts-info .item{
    padding: 0 0 0 78px;
  }
  .send-request{
    margin-bottom: 31px;
  }
  .send-request .search-filter .btn1 {
    width: 81%;
    margin-top: 32px;
  }
  .search-filter textarea{
    padding: 20px;
  }
  .thank-send .thank{
    margin-top: 25px;
  }
  .thank-send .big-text{
    padding: 0 20px;
    line-height: 36px;
  }
  .thank-send .big-text span{
    height: 9px;
  }
  .btn1__mod1{
    display: none;
  }
  .search-results__best-deal{
    margin-top: -7px;
  }
  .search-results__best-deal-mini .search-results__best-deal__item{
    padding: 24px 0;
  }
  .res-search{
    padding-top: 0px;
    margin-bottom: 47px;
  }
  .res-search .btn1{
    width: 82%;
    margin-top: 21px;
  }
}